<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35759382833-6kohgrlpiavrjijed15tp2hl3qv01e7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35759382833-6kohgrlpiavrjijed15tp2hl3qv01e7r</string>
	<key>API_KEY</key>
	<string>AIzaSyBH0BiBiGHCMLFSE4XuUp2NwB0eu401O4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>35759382833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tirsong.Prescribed</string>
	<key>PROJECT_ID</key>
	<string>prescribed-d767b</string>
	<key>STORAGE_BUCKET</key>
	<string>prescribed-d767b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35759382833:ios:44b8063c69eef63da21010</string>
	<key>DATABASE_URL</key>
	<string>https://prescribed-d767b-default-rtdb.firebaseio.com</string>
</dict>
</plist>